# Environment Variables
.env

HELP.md
# target/ - Commented out to include JAR files in Git
# Instead, ignore specific files/folders within target except JARs
target/classes/
target/test-classes/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/maven-archiver/
target/surefire-reports/
target/*.original
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
